/*
Selector {
  property: value;
  property: value;
  property: value;
  } */

  /* By Element name */
  body {
    color: red;
    font-family: verdana;
    font-size: 16px;
    font-style: bold;
  }

  h1 {

  }

  /* By Class name */

  .classOne {

  }

  /* By Id */
