/*
Selector {
  property: value;
  property: value;
  property: value;
  } */

  /* By Element name */
  main {
    color: red;
    font-family: verdana;
    font-size: 16px;
    font-style: normal;
  }

  h1 {
    color: blue;

  }
